{% extends "layout.twig" %}

{% block content %}

{% include "includes/rd-video.twig" %}

<!-- RD Home Page Content -->
<div class="page-content">

    <!-- Section: Facebook Onboarding -->
    <div class="section  fb-onboarding  alt">
        <div class="slide-left">
            <div class="container">
                <div class="row">

                    <div class="grid-item">

                        <!-- Section Text -->
                        <article class="section-text">
                            <h2>Create anywhere</h2>
                            <p>Start your new site from your phone, tablet or browser. Bring your Facebook business page too, no app required.</p>
                        </article>

                    </div>

                    <div class="grid-item">

                        <!-- Section Graphic -->
                        <div class="section-graphic">
                            <div id="StageOne" class="EDGE-315105869"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Section: Mobile Editor -->
    <div class="section  mobile-editor">
        <div class="slide-left">
            <div class="container">
                <div class="row">

                    <div class="grid-item">

                        <!-- Section Text -->
                        <article class="section-text">
                            <hgroup class="section-text-content">
                                <h2>Update your<br> website on the go</h2>
                                <p>Add photos straight from your phone. Update any part of your site and share it with the world instantly.</p>
                            </hgroup>
                        </article>

                    </div>

                    <div class="grid-item">

                        <!-- Section Graphic -->
                        <div class="section-graphic">
                            <div id="StageTwo" class="EDGE-438472265"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Section: Online Store -->
    <div class="section  online-store  alt">
        <div class="slide-left">
            <div class="container">
                <div class="row">

                    <div class="grid-item">

                        <!-- Section Text -->
                        <article class="section-text">
                            <hgroup class="section-text-content">
                                <h2>Set up your<br> store in minutes.</h2>
                                <p>Set up your online shop and start taking  payments for goods within minutes.</p>
                            </hgroup>
                        </article>

                    </div>

                    <div class="grid-item">

                        <!-- Section Graphic -->
                        <div class="section-graphic">
                            <div id="StageThree" class="EDGE-426307466"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Section: Templates -->
    <div class="section  templates">
        <div class="container-sml">

            <!-- Section Text -->
            <article class="section-text  alt">

                <div class="slide-top">

                    <div class="flex-container  span-grid--space  vae">

                        <div class="flex-item">
                            <h4><span class="heading--gold">100+ Templates</span> and counting</h4>
                            <h2 class="space--none">100+ professionally<br> designed templates</h2>
                        </div>
                        <div class="flex-item">
                            <p>Over 100 professional, repsonsive site designs to choose from. Change colours, fonts and layouts to make it your own.</p>
                        </div>
                    </div>

                </div>

            </article>

        </div>

        <!-- Template Carousel -->
        <div class="owl-carousel  template-carousel">

            <div class="template-carousel-slide">
                <div class="template-carousel-slide-overlay">
                    <img src="{{asset('images/rd-images/template-masonry.jpg')}}" alt="Template: Masonry">
                </div>
            </div>

            <div class="template-carousel-slide">
                <div class="template-carousel-slide-overlay">
                    <img src="{{asset('images/rd-images/template-nordic.jpg')}}" alt="Template: Nordic">
                </div>
            </div>

            <div class="template-carousel-slide">
                <div class="template-carousel-slide-overlay">
                    <img src="{{asset('images/rd-images/template-beta.jpg')}}" alt="Template: Beta Studio">
                </div>
            </div>

            <div class="template-carousel-slide">
                <div class="template-carousel-slide-overlay">
                    <img src="{{asset('images/rd-images/template-unknown.jpg')}}" alt="Template: Unknown">
                </div>
            </div>

            <div class="template-carousel-slide">
                <div class="template-carousel-slide-overlay">
                    <img src="{{asset('images/rd-images/template-proskip.jpg')}}" alt="Template: ProSkip">
                </div>
            </div>

            <div class="template-carousel-slide">
                <div class="template-carousel-slide-overlay">
                    <img src="{{asset('images/rd-images/template-arctic.jpg')}}" alt="Template: Masonry">
                </div>
            </div>

        </div>

    </div>

    <!-- Section: Partners -->
    <div class="section  rd-partners  alt">
        <!-- <div class="slide-left"> -->
            <div class="container-sml">

                <!-- Section Text -->
                <article class="section-text  alt">

                    <div class="flex-container  span-grid--space  vae">

                        <div class="flex-item">
                            <h4><span class="heading--gold">120 Partners</span> and counting</h4>
                            <h2 class="space--none">Over 120 partners<br> choose BaseKit</h2>
                        </div>
                        <div class="flex-item">
                            <p>Some of the largest hosting companies in the world rely on BaseKit. With support for 20 languages BaseKit is a truly global product.</p>
                        </div>
                    </div>

                </article>

            </div>

            <!-- Partner Logos -->
            <div class="rd-partner-logos">
                <div class="container">

                    <!-- Row 1 -->
                    <div class="flex-container  span-grid--space-fixed  vac">
                        <div class="flex-item">
                            <div class="partner-block  rightside">
                                <img src="{{asset('/images/rd-images/partner-logos/partner-logo--rightside.png')}}" alt="" class="partner-block-logo">
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="partner-block  enom">
                                <img src="{{asset('/images/rd-images/partner-logos/partner-logo--enom.png')}}" alt="" class="partner-block-logo">
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="partner-block  reg123">
                                <img src="{{asset('/images/rd-images/partner-logos/partner-logo--123reg.png')}}" alt="" class="partner-block-logo">
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="partner-block  host-europe">
                                <img src="{{asset('/images/rd-images/partner-logos/partner-logo--host-europe.png')}}" alt="" class="partner-block-logo">
                            </div>
                        </div>
                    </div>

                    <!-- Row 2 -->
                    <div class="flex-container  span-grid--space-fixed  vac">
                        <div class="flex-item">
                            <div class="partner-block  heart">
                                <img src="{{asset('/images/rd-images/partner-logos/partner-logo--heart.png')}}" alt="" class="partner-block-logo">
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="partner-block  loopia">
                                <img src="{{asset('/images/rd-images/partner-logos/partner-logo--loopia.png')}}" alt="" class="partner-block-logo">
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="partner-block  movistar">
                                <img src="{{asset('/images/rd-images/partner-logos/partner-logo--movistar.png')}}" alt="" class="partner-block-logo">
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="partner-block  telefonica">
                                <img src="{{asset('/images/rd-images/partner-logos/partner-logo--telefonica.png')}}" alt="" class="partner-block-logo">
                            </div>
                        </div>
                    </div>

                    <!-- Row 3 -->
                    <div class="flex-container  span-grid--space-fixed  vac">
                        <div class="flex-item">
                            <div class="partner-block  isimtecil">
                                <img src="{{asset('/images/rd-images/partner-logos/partner-logo--isimtecil.png')}}" alt="" class="partner-block-logo">
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="partner-block  hostalia">
                                <img src="{{asset('/images/rd-images/partner-logos/partner-logo--hostalia.png')}}" alt="" class="partner-block-logo">
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="partner-block  names">
                                <img src="{{asset('/images/rd-images/partner-logos/partner-logo--names.png')}}" alt="" class="partner-block-logo">
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="partner-block  name">
                                <img src="{{asset('/images/rd-images/partner-logos/partner-logo--name.png')}}" alt="" class="partner-block-logo">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        <!-- </div> -->
    </div>

    <!-- Section: Benefits -->
    <div class="section  benefits  center">
        <div class="slide-bottom">
            <div class="container-sml">

                <!-- Section Text -->
                <h2 class="space--40">Ready for the next step?</h2>
                <a href="/partners" class="button  lrg">Partner with us</a>

            </div>
        </div>
    </div>

    {% include "includes/rd-footer.twig" %}

</div>
<!-- End RD Home Page Content -->


{% endblock %}

{% block bodyscripts %}

<script src="{{asset('/js/jquery.vide.min.js')}}"></script>
<script src="{{asset('/js/jquery.fadethis.min.js')}}"></script>
<script src="{{asset('/js/vimeo-lightbox.js')}}"></script>
<script src="{{asset('/js/owl.carousel/owl.carousel.min.js')}}"></script>
<script src="{{asset('/animations/edge_includes/edge.5.0.1.min.js')}}"></script>
<style>
    .edgeLoad-EDGE-315105869 { visibility:hidden; }
    .edgeLoad-EDGE-438472265 { visibility:hidden; }
    .edgeLoad-EDGE-426307466 { visibility:hidden; }
</style>

<script type="text/javascript">

    $(document).ready(function(){

        // Make feature full height
        $(".rd-video, .rd-video-poster").css("height", $(window).height());
        $(window).bind("resize",function() {
            $(".rd-video, .rd-video-poster").css("height", $(window).height());
        });

        // Fade This
        $(window).fadeThis({
            speed: 500,
            reverse: false
        });

        // Adobe Edge Runtime: Facebook
        $('.fb-onboarding').fadeThis({
            speed: 500,
            reverse: false,
            scrolledIn: function () {
                if (AdobeEdge.getComposition('EDGE-315105869') === undefined) {
                    var proxy = "{{asset('/animations/facebook/')}}";
                    AdobeEdge.loadComposition('facebook', 'EDGE-315105869', {
                    scaleToFit: "both",
                    centerStage: "horizontal",
                    minW: "0",
                    maxW: "900px",
                    width: "900px",
                    height: "610px"
                    }, {dom: [ ]}, {dom: [ ]}, proxy);
                }
            }
        });

        // Adobe Edge Runtime: Mobile Editor
        $('.mobile-editor').fadeThis({
            speed: 500,
            reverse: false,
            scrolledIn: function () {
                if (AdobeEdge.getComposition('EDGE-438472265') === undefined) {
                    var proxy = "{{asset('/animations/mobile-editor/')}}";
                    AdobeEdge.loadComposition('mobile-editor', 'EDGE-438472265', {
                    scaleToFit: "width",
                    centerStage: "horizontal",
                    minW: "0px",
                    maxW: "800px",
                    width: "800px",
                    height: "600px"
                    }, {dom: [ ]}, {dom: [ ]}, proxy);
                }
            }
        });

        // Adobe Edge Runtime: Store
        $('.online-store').fadeThis({
            speed: 500,
            reverse: false,
            scrolledIn: function () {
                if (AdobeEdge.getComposition('EDGE-426307466') === undefined) {
                    var proxy = "{{asset('/animations/online-store/')}}";
                    AdobeEdge.loadComposition('online-store', 'EDGE-426307466', {
                    scaleToFit: "width",
                    centerStage: "horizontal",
                    minW: "0",
                    maxW: "750px",
                    width: "700px",
                    height: "611px"
                    }, {dom: [ ]}, {dom: [ ]}, proxy);
                }
            }
        });

        // Template Carousel
        $(".owl-carousel").owlCarousel({
            items: 1,
            margin: 50,
            loop: true,
            stagePadding: 50,
            autoplay: true,
            autoplayHoverPause: true,
            autoplayTimeout: 5000,
            responsive:{
                479:{
                    stagePadding: 0,
                    margin: 0
                },
                650:{
                    stagePadding: 50
                },
                850:{
                    items: 2
                },
                1600:{
                    items: 3
                }
            }
        });
    });

</script>

{% endblock %}
